/**
 * Copyright (c) 2020 Fantaske Tech LLC
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License version 2 as published by
 * the Free Software Foundation.
 */

/ {
	aliases {
		serial0 = &uart1;
		serial1 = &uart0;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
	};

	chosen {
        bootargs = "console=ttyPS0,115200n8 earlyprintk";
        linux,stdout-path = &uart1;
        stdout-path = &uart1;
    };

	prox0: srf04 {
		compatible = "devantech,srf04";
		status = "okay";
        interrupt-parent = <&gpio0>;
        interrupts = <31 1>;
		trig-gpios = <&gpio0 30 0>;
		echo-gpios = <&gpio0 31 0>;
	};
};

&amba {
	uart2: uartlite@42000000 {
    	status = "okay";
		compatible = "xlnx,xps-uartlite-1.00.a";
		reg = <0x42000000 0x1000>;
		//int # found in xparameters.h = 61, subract 32 from that number
		interrupts = <0 29 4>;
		interrupt-parent = <&intc>;
		clock = <50000000>;
	};
	uart3: uartlite@42001000 {
    	status = "okay";
        compatible = "xlnx,xps-uartlite-1.00.a";
        reg = <0x42001000 0x1000>;
        interrupts = <0 30 4>;
        interrupt-parent = <&intc>;
        clock = <50000000>;
    };

};
/*
&spi0 {
	dac: dac@2 {
		compatible = "ti,dac7311";
		reg = <2>;
		spi-max-frequency = <1000000>;
	};
};
*/
&uart1 {
	u-boot,dm-pre-reloc;
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart1_default>;
};

&i2c0{
	status = "okay";
    clock-frequency = <400000>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_i2c0_default>;

	pwm0: pca@40 {
		compatible = "nxp,pca9685-pwm";
		#pwm-cells = <2>;
		reg = <0x40>;
		status = "okay";
	};

	pot10k0: ds1803@28{
		reg = <0x28>;
		compatible = "maxim,ds1803-010";
	};

	pcf8575: gpio@38 {
        compatible = "nxp,pcf8575";
        reg = <0x38>;
        interrupt-parent = <&gpio0>;
        interrupts = <28 2>;
        gpio-controller;
        #gpio-cells = <2>;
        interrupt-controller;
        #interrupt-cells = <2>;
    };

};

&i2c1{
	status = "okay";
	clock-frequency = <400000>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_i2c1_default>;

	imu_tail: mpu9250@68 {
        compatible = "invensense,mpu9250";
        reg = <0x68>;
        interrupt-parent = <&gpio0>;
        interrupts = <20 2>;
        i2c-gate {
            #address-cells = <1>;
            #size-cells = <0>;
            ax8975@c {
                compatible = "ak,ak8975";
                reg = <0x0c>;
            };
        };
    };

	imu_head: mpu9250@69 {
        compatible = "invensense,mpu9250";
        reg = <0x69>;
        interrupt-parent = <&gpio0>;
        interrupts = <21 2>;
        i2c-gate {
            #address-cells = <1>;
            #size-cells = <0>;
            ax8975@c {
                compatible = "ak,ak8975";
                reg = <0x0c>;
            };
        };
    };

	sniffer: bme680@76 {
		compatible = "bosch,bme680";
		reg = <0x76>;
		status = "okay";
	};


};

&gpio0 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_gpio0_default>;

};

&pinctrl0{
	pinctrl_i2c0_default: i2c0-default {
		mux {
			groups = "i2c0_2_grp";
			function = "i2c0";
		};

		conf {
			groups = "i2c0_2_grp";
			bias-pull-up;
			slew-rate = <0>;
			io-standard = <1>;
		};
	};

	pinctrl_i2c1_default: i2c1-default {
		mux {
			groups = "i2c1_10_grp";
			function = "i2c1";
		};

		conf {
			groups = "i2c1_10_grp";
			bias-pull-up;
			slew-rate = <0>;
			io-standard = <1>;
		};
	};

    pinctrl_uart1_default: uart1-default {
        mux {
            groups = "uart1_2_grp";
            function = "uart1";
        };

        conf {
            groups = "uart1_2_grp";
            slew-rate = <0>;
            io-standard = <1>;
        };

        conf-rx {
            pins = "MIO17";
            bias-high-impedance;
        };

        conf-tx {
            pins = "MIO16";
            bias-disable;
        };
    };

    pinctrl_gpio0_default: gpio0-default {
        mux {
            function = "gpio0";
            groups = "gpio0_20_grp", "gpio0_21_grp", "gpio0_22_grp",
                 "gpio0_23_grp", "gpio0_24_grp", "gpio0_25_grp",
                 "gpio0_26_grp", "gpio0_27_grp";
        };

        conf {
            groups = "gpio0_20_grp", "gpio0_21_grp", "gpio0_22_grp",
                 "gpio0_23_grp", "gpio0_24_grp", "gpio0_25_grp",
                 "gpio0_26_grp", "gpio0_27_grp";
            slew-rate = <0>;
            io-standard = <1>;
        };
/*
        conf-pull-up {
            pins = "MIO9", "MIO10", "MIO11", "MIO12", "MIO13", "MIO14";
            bias-pull-up;
        };
*/
        conf-pull-none {
            pins = "MIO20", "MIO21", "MIO22", "MIO23", "MIO24", "MIO25", "MIO26", "MIO27";
            bias-disable;
        };
    };
};
